<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="form">
                    <label for="text"></label>
                    <input id="text" type="text" name="input" value="" placeholder="Text">
                    <input type="submit" name="" value="submit">
                </form>
            </section>

            <section>
                <span>Polarity:</span>
                <span id="polarity"></span>
            </section>

            <section>
                <span>Agreement:</span>
                <span id="agreement"></span>
            </section>

            <section>
                <span>Subjectivity:</span>
                <span id="subjectivity"></span>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
